@import '../../variables';

bs-list-group-item {
  // display: block;

  &.list-group-item-action {
    padding: 0;

    a,
    button {
      background: transparent;
      border: none;
      color: inherit;
      display: block;
      padding: $list-group-item-padding-y $list-group-item-padding-x;
      text-align: inherit;
      width: 100%;

      @include hover-focus {
        text-decoration: none;
      }
    }
  }
}
